body {
  background-color: #dbdfe0;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-000_5.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c1552a7bdc2ea7b6e17d8d0d893c15be");
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  max-width: 300px;
  min-height: 400px;
  margin: 20px auto;
  padding: 15px 50px;
}

.header {
  text-align: center;
  text-shadow: 3px 3px 5px gray;
}

.balance {
  text-transform: uppercase;
}

.inline {
  display: inline;
}

.expense-container {
  margin: 10px 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 10px gray;
  border-radius: 8px;
}

.expense-list {
  padding: 0;
}

.red {
  border-right: 5px solid red;
}

.green {
  border-right: 5px solid #55ca7ef0;
}

.expense-list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  background-color: white;
  padding: 10px 8px;
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.expense-list li:hover .delete-btn {
  opacity: 1;
}

.add-transaction input {
  width: 96%;
  padding: 6px 3px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: large;
}

.income {
  color: #55ca7ef0;
}

.expense {
  color: red;
}

.description {
  font-size: 14px;
  font-weight: 500;
}

.submitBtn {
  margin: 0 auto;
  width: 100% !important;
  background-color: rgb(89, 89, 230);
  color: whitesmoke;
  font-weight: 700;
  border-radius: 5px;
}

.submitBtn:hover {
  opacity: 0.7;
}

.submitBtn:active {
  background-color: transparent;
  color: black;
  opacity: 1;
}